body {
  max-width: 900px;
  margin: 20px auto;
  line-height: 1.4;
  color: #333333;
}

h1 {
    font-family: monospace;
    font-size: 2em;
}

h2 {
    font-family: monospace;
    font-size: 1.5em;
}

h4 {
    font-family: monospace;
    font-size: 1em;
}
