<h3><strong>Damien Firmenich</strong></h3>

<a href="https://github.com/damienfir"><i class="fa fa-github-square fa-2x"></i></a>
<a href="http://www.flickr.com/photos/damienfir/"><i class="fa fa-flickr fa-2x"></i></a>
<a href="http://ch.linkedin.com/in/damienfirmenich/"><i class="fa fa-linkedin-square fa-2x"></i></a>

<hr>

<ul class="list-unstyled">
    <li><a href="/2014/01/01/publications.html"><span class="glyphicon glyphicon-book"></span> Publications</a></li>
    <li><a href="/2014/01/01/projects.html"><span class="glyphicon glyphicon-send"></span> Projects</a></li>
    <li><a href="/2014/01/01/courses.html"><span class="glyphicon glyphicon-list"></span> Courses</a></li>
    <li><a href="/"><span class="glyphicon glyphicon-list"></span> Articles</a></li>
</ul>
